body {
    min-height: 100%;
    overflow: hidden;
    background-size: stretch;
    background-repeat: no-repeat;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;

}
.container {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    justify-self: center;
}

header {
    display: flex;
    justify-self: center;
    color: #012d2c;
    justify-content: center;
    font-size: x-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-seriff;
    font-weight: 1000;
}
.navbar li ul {
    display: flex;
    justify-self: end;
}
.testdomain {
    height: 3.2em;
    width: 400px;
    border-radius: 4px;
    display: flex;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    border: 1px solid #012d2c;
}
.testdomain:focus {
    outline: none !important;
    border: 1px solid rgb(7, 107, 7);
    box-shadow: 0 0 10px #719ece;
}
.button {
    width: 150px;
    height: 3.7em;
    line-height: 20px;
    vertical-align: middle;
    background: #008060;
    border-radius: 4px;
    margin-left: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: transparent;
    color: white;
    font-weight: bolder;
    font-size: medium;
    padding: 4px;
}
.main {
    display: flex;
    flex-direction: column;
    justify-self: center;
    margin: 70px auto auto auto;
   
}

.infoSection {
    color: #012d2c;
    font-size: 20px;
    margin: 30px;
}
.message1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #012d2c;
    font-size: 70px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 650px;
    word-wrap: break-word;
    justify-self: center;
}

.message {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #012d2c;
    font-size: 50px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    max-width: 600px;
    word-wrap: break-word;
    justify-self: center;
}
.footerNote{
    color: antiquewhite;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 800px;
    align-self: center;
    word-wrap: break-word;
    padding: 8px;
}
.footer{
position: absolute;
bottom: 0;
display: flex;
flex-direction: column;
left: 0;
right: 0;
line-height: 20px;
background-color: #012d2c;
background-size: AUTO;
background-repeat: no-repeat;
}
.spanYellow {
    color: orangered;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    padding: 8px;
    display: flex;
    align-self: center;
    align-items: center;
    justify-items: center;
    justify-self: center;
}
li {
    float: left;
    padding: 8px;
}
li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.loader {

    margin-bottom: 80px;
    width: 184px;
    height: 184px;
    border-radius: 50%;
    perspective: 800px;
}

.inner {
    position: absolute;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.inner.one {
    left: 0%;
    top: 0%;
    animation: rotate-one 1s linear infinite;
    border-bottom: 4px solid orangered;
}

.inner.two {
    right: 0%;
    top: 0%;
    animation: rotate-two 1s linear infinite;
    border-right: 4px solid orangered;
}

.inner.three {
    right: 0%;
    bottom: 0%;
    animation: rotate-three 1s linear infinite;
    border-top: 4px solid orangered;
}

@keyframes rotate-one {
    0% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate-two {
    0% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(50deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes rotate-three {
    0% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100% {
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

@media only screen and (max-width: 2000px) {
    body {
        background-size: cover;
        background-repeat: no-repeat;
        
    }
}
@media only screen and (max-width: 720px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .message1{
        font-size: 35px;
        width: 80%;
    }
    .footerNote{
        /* font-size: 10px; */
  
        align-self: center;
    }
    .footer{
    
        height: 100px;
        bottom: 0;
        position: absolute;
        line-height: 8px;
        display: flex;
        flex-direction: column;
    }
    .message {
        font-size: 35px;
        width: 100%;
    }
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 85%;
    }
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .testdomain {
        margin: 0px;
        width: 350px;
    }
    .button {
        margin: 30px 0px 0px 0px;
        width: 350px;
    }
    .infoSection {
        color:#012d2c;
    }
    .spanYellow {
        color: orangered;
    }
}
